.board {
  width: 100%;
  height: 44.7687rem;
  display: flex;
  flex-direction: column;
}

.board .top {
  width: 100%;
  height: 21.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.board .top p:nth-child(1) {
  margin: 20px 0;
  font-size: 24px;
}

.board .top p:not(:nth-child(1)) {
  font-weight: 600;
  margin-bottom: 5px;
}
