main {
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: 100%;
  margin: 15px auto;
}
section {
  width: 72%;
  height: 100%;
  border-radius: 5px;
}
.swiper {
  height: 300px;
  text-align: center;
  line-height: 300px;
  padding: 5px;
  margin-bottom: 20px;
}
.art .head {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.head p {
  flex: 1;
  line-height: 50px;
  margin: 0 !important;
}
.head span {
  color: #ff0064;
  font-size: 20px;
}
.tag {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.tag a {
  padding: 5px;
  margin: 5px;
}
.tag a:hover {
  cursor: pointer;
  color: #ff0064;
}
.actived span {
  color: #ff0064;
}
.posit {
  position: relative;
}
.mask {
  position: absolute;
  width: 100%;
  height: 93%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.4;
}
.text {
  position: absolute;
  text-align: center;
  z-index: 999;
  width: 300px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -75px;
  color: #fff;
  font-size: 25px;
}
.text p:nth-child(2) {
  font-size: 16px;
}
.loading {
  background: #e7eaee;
  text-align: center;
  display: none;
}
.tags {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.wzbq {
  flex: 1;
  padding: 10px;
}
.wzbq {
  display: flex;
}
.wzbq:nth-child(1) {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.wzbq a {
  padding: 5px 10px;
  margin: 0 5px;
  border-style: solid;
  border-width: 1px;
}
.wzbq a:hover {
  color: #ff0064;
  border: 1px solid #ff0064;
}
.wzbq a.active {
  background: #ff0064;
  border: 1px solid transparent !important;
}
.tags .active span {
  color: #fff !important;
}
aside {
  width: 20%;
  height: 100%;
  border-radius: 5px;
  margin-right: 60px;
  position: sticky;
  top: 15px;
}
/* 媒体查询 */
/* @media screen and (min-width: 0px) {
  .article_aside {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .article_aside {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .article_aside {
    display: block;
  }
} */
@media screen and (min-width: 1200px) and (max-width: 1286px) {
  main {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  section {
    width: 73%;
    height: 100%;
    overflow: hidden;
  }
  .article_aside {
    width: 24%;
    height: 750px;
    margin-right: 0.01%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  main {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  section {
    width: 67%;
    height: 100%;
    overflow: hidden;
  }
  .article_aside {
    width: 30%;
    height: 750px;
    margin-right: 0.01%;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  main {
    width: 77%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  section {
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  .article_aside {
    width: 20%;
    height: 750px;
    margin-right: 15%;
  }
}
@media screen and (max-width: 767px) {
  main {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  section {
    width: 100%;
  }
  .article_aside {
    display: none;
  }
}
