.articleclassify {
  width: 280px;
  height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}
.articleclassify h3 {
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 22px;
}
.articleclassify_list ul {
  padding-left: 22px;
  padding-right: 20px;
}
.articleclassify_list ul li {
  list-style: none;
  margin-top: 14px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.articleclassify_list ul li:hover {
  color: #ff0064;
}
