.thearchive {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.thearchive_left {
  width: 72%;
  height: 100%;
  overflow: hidden;
}
.thearchive_right {
  width: 25%;
  height: 750px;
  margin-right: 0.01%;
}
.thearchive_top {
  width: 280px;
  height: 280px;
  background: #fff;
  margin-bottom: 20px;
}
.thearchive_bottom {
  width: 280px;
  height: 290px;
  background: #fff;
}
.title_box {
  width: 100%;
  height: 75px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.title_box p {
  text-align: center;
  margin: 0 !important;
}
.title_box:nth-child(1) {
  font-size: 24px;
  margin-top: 20px;
}
.title_box span {
  color: #ff0064;
}
.title_box p:nth-child(2) {
  font-size: 14px;
}
.title_box p:nth-child(2) span {
  font-size: 20px;
}

.year_box :first-child {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  padding-left: 20px;
}
.year_box :last-child {
  width: 100%;
  height: 25px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 40px;
  margin-bottom: 10px;
}
.list_box {
  margin-left: 80px;
}
.list_box ul li {
  padding: 14px 0;
  list-style-type: disc;
  opacity: 0;
}
.list_box ul li.show {
  opacity: 1;
}
.list_box ul li:hover span {
  color: #ff0064;
}
.list_box ul li:hover::marker {
  color: #ff0064;
}
.list_box li span:nth-child(1) {
  font-size: 13.5px;
}
.list_box li span:nth-child(2) {
  font-size: 16px;
  font-weight: bold;
}

.animate__fadeInLeft {
  animation-duration: 1.5s;
}
