@media screen and (min-width: 1200px) and (max-width: 1286px) {
  .thearchive {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .thearchive_left {
    width: 73%;
    height: 100%;
    overflow: hidden;
  }
  .thearchive_right {
    width: 24%;
    height: 750px;
    margin-right: 0.01%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .thearchive {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .thearchive_left {
    width: 67%;
    height: 100%;
    overflow: hidden;
  }
  .thearchive_right {
    width: 30%;
    height: 750px;
    margin-right: 0.01%;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .thearchive {
    width: 77%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .thearchive_left {
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  .thearchive_right {
    width: 20%;
    height: 750px;
    margin-right: 15%;
  }
}
@media screen and (max-width: 767px) {
  .thearchive_right {
    display: none;
  }
  .thearchive_left {
    width: 100%;
  }
}
