.articlelabel {
  width: 280px;
  height: 220px;
  margin-bottom: 20px;
}
.articlelabel h3 {
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 22px;
}
.articlelabel_list ul {
  padding-left: 22px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}
.articlelabel_list ul li {
  padding: 3px 6px;
  border: solid 1px #e5e6eb;
  margin-right: 3px;
  list-style: none;
  margin-top: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.articlelabel_list ul li:hover {
  color: #ff0064;
}
