.rightread {
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
  overflow: hidden;
}
.rightread h3 {
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 18px;
}
.rightread_list ul {
  padding-left: 18px;
}
.rightread_list ul li {
  list-style: none;
  margin-top: 13px;
  font-size: 15px;
}
.rightread_list ul li:hover {
  color: #fc0365;
}

.point {
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #a6a6a6;
  border-radius: 50%;
  margin: 0 5px 4px 5px;
}
