.detall {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
.detallicon {
  width: 30px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}
.detallicon > div {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-right: 10px;
}
.imgss {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgss > img {
  width: 100px;
  height: 100px;
}
/* .ant-modal-body{
  width: 200px;
  height: 700px;
} */
.detallPage {
  width: 1140px;
  height: 2000px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
.detall_left {
  width: 75%;
  height: 100%;
  background: #fff;
  margin-right: 20px;
}
.detall_right {
  width: 20%;
  height: 750px;
}
.detall_top {
  width: 280px;
  height: 150px;
  margin-bottom: 20px;
}

.detallimg > img {
  width: 90%;
  height: 300px;
  margin: 30px auto;
  margin-left: 40px;
}
