@media screen and (min-width: 0px) {
}

@media screen and (min-width: 768px) {
  .article_aside {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .article_aside {
    display: block;
  }
}
