html,
body,
#root {
  background: @primary-color;
}
.swiper,
.tags,
.data,
.head,
.kenleft,
.detlebom,
.detribom,
.rightread,
.articleclassify,
.articlelabel,
.thearchive_left {
  background: @box-color;
}
//文章页面
.tag a,
.manleft,
.itop b,
.head p,
.wzbq,
.wzbq a {
  color: @thearchive-text-color;
}
.tag,
.leftitem::after,
.wzbq:nth-child(1) {
  border-bottom: @thearchive-line-color;
}
.wzbq a {
  border: @thearchive-line-color;
}
//归档页面
.list_box li span:nth-child(2),
.year_box :first-child {
  //主色
  color: @thearchive-text-color;
}

.year_box :last-child {
  //April色
  color: @thearchive-april-color;
}
.list_box li span:nth-child(1),
.list_box ul li::marker {
  color: @thearchive-time-color;
}
.title_box {
  border-bottom-color: @thearchive-line-color;
}
//右侧文章阅读组件 标签组件 列表组件
.rightread h3,
.title_box p,
.articleclassify h3,
.ditbig,
.ditbig h3,
.us a,
.articlelabel h3 {
  color: @thearchive-text-color !important;
}
.rightread h3,
.articleclassify h3,
.articlelabel h3 {
  border-bottom-color: @thearchive-line-color;
}
.rightread_list ul li,
.articleclassify_list ul li,
.articlelabel_list ul li {
  color: @article-list-color;
}

// 关于&留言板页面
// 关于顶部背景色文字色
#about,
#about .top {
  background: @box-color;
  color: @thearchive-text-color;
}

// 关于底背景色文字色
#about .bottom {
  background: @primary-color;
  color: @thearchive-text-color;
}
.board .top,
#about #about_in {
  border: 1px solid @thearchive-line-color;
}
// 评论模块
.emojiFont {
  color: @emoji-logo-color;
}
.comments_in {
  background: @box-color;
  color: @thearchive-text-color;
}
.comments_in .title {
  background: @primary-color;
}
.comments_in dl {
  border-top: 1px solid @thearchive-line-color;
}
.comments .page_box {
  background: @box-color;
}

.page_box ul li a {
  color: @thearchive-text-color;
}
.page_box ul li a:hover {
  color: @thearchive-text-color;
}
.page_box ul li button,
.page_box ul li svg:hover,
.page_box ul li span:hover {
  color: @thearchive-text-color;
}
.page_box ul li button {
  color: @thearchive-text-color;
}
.userAgent,
.reply {
  color: @comment-border-color;
}

#comment_btn {
  background: @comment-btn-color;
  color: @thearchive-text-color;
  border: 1px solid @comment-border-color;
}
#comment_area {
  background: @box-color;
  color: @thearchive-text-color;
  border: 1px solid @thearchive-line-color;
}

.top {
  background: @box-color;
  color: @thearchive-text-color;
}
.about_ul li:nth-child(1)::after {
  border-bottom: 1px solid @border-color-base;
}
.BottomRead .leftitem {
  background: @box-color;
}
.BottomRead .data {
  background: @box-color;
}

.BottomRead p {
  color: @thearchive-text-color;
}
// 头部组件
.header_wrap {
  background: @header-bg-color;
  border-bottom-color: @thearchive-line-color;
}
.header_right_2 {
  background: @header-bg-color;
}
.textcolor,
.header-style,
.header_right_2 {
  color: @thearchive-text-color;
}
//item组件 竖线
.itn {
  border-right-color: @item-line-color;
}
//底部footer组件
.footer-span {
  color: @footer-img-color;
}
.footer > div,
.footer a {
  color: @footer-text-color;
}
