@primary-color: #e7eaee; // 全局主色
@box-color: #fff; //盒子颜色
@page-active-color: #f00;
@link-color: #1890ff; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 2px; // 组件/浮层圆角
@border-color-base: #e5e6eb; // 边框色
@emoji-logo-color: #a6a6a6;
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影

//归档页面
@thearchive-text-color: #262626; //主文本色
@thearchive-time-color: #a6a6a6; //04-12日期
@thearchive-april-color: #595959; //April
@thearchive-line-color: #e5e6eb; //下划线颜色
// item组件 竖线
@item-line-color: #f0f0f0;
// 头部组件
@header-bg-color: #fff;
// @header-text-color: #000;
//右侧文章阅读组件 标签组件 列表组件
// @article-list-color: #626262; //列表色
// 评论页面
@comment-btn-color: #f5f5f5;
@comment-border-color: #d9d9d9;
//底部footer组件
@footer-img-color: #6d6e70;
@footer-text-color: #515253;
.display-flex-column-mixin(@principal_axis: flex-start, @cross_axis: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

.display-flex-row-mixin(@principal_axis: flex-start ,@cross_axis: flex-start) {
  display: flex;
  flex-direction: row;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

// 多行文本....
.text-lines(@lineNum) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lineNum;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-box(@boxstyle: border-box) {
  box-sizing: @boxstyle;
}

.bor-box {
  .border-box;
}

.z-index(@index: 1) {
  z-index: @index;
}
