.itop a {
  text-decoration: none;
}
.item_title:hover {
  color: #fc0365;
}
.itmain {
  display: flex;
  justify-content: space-between;
}
.itop {
  align-items: center;
  width: 100%;
  height: 24px;
  display: flex;
}
.itmain img {
  width: 128px;
  height: 80px;
}
.itop span {
  font-size: 14px;
  color: rgb(133, 132, 132);
}
.leftitem {
  width: 100%;
  height: 20%;
  padding: 20px 15px;
  box-sizing: border-box;
}
.itn {
  display: inline-block;
  height: 15px;
  border-right-width: 1px;
  border-right-style: solid;
  margin: 0 2px;
}
.manleft dd {
  font-size: 14px;
  display: flex;
}
.manleft dd div {
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.manleft span {
  font-size: 12px;
}
.dan {
  width: 1px;
  height: 10px;
}
.manleft {
  padding-top: 3px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 288px;
  height: 82px;
}
.leftitem::after {
  clear: both;
  margin-top: 20px;
  content: '\0020';
  display: block;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 0;
}
