.detatitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom {
  width: 100%;
  background: #fff;
}
.detatitle > h1 {
  font-size: 50px;
}
.detall_top {
  background: #fff;
}
.lcc {
  margin-left: -2000px;
}
.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.detallbott {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.detallbott > h2 {
  font-size: 50px;
}
.detallabout {
  width: 94%;
  overflow: hidden;
  /* margin-left: -300px; */
}
.about .about_in {
  width: 768px;
  height: 100%;
  margin-left: 50px;
  /* margin-left: calc((1530.4px - 768px) / 2); */
}

.about .about_in ul li:nth-child(1) {
  font-size: 24px;
  margin-top: 70px;
}

.about .about_in ul li:nth-child(1)::after {
  clear: both;
  margin-top: 15px;
  margin-bottom: 25px;
  content: '\0020';
  display: block;
  width: 100%;
  height: 0;
}

.about .about_in ul li:nth-child(2) {
  list-style: disc;
  margin-left: 20px;
}

.about .about_in ul li:nth-child(3),
.about .about_in ul li:nth-child(4) {
  margin-top: 20px;
}

.arslis {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.arslis > h2:hover {
  color: red;
}
.arslis > img {
  width: 50px;
  height: 50px;
}
.about img {
  width: 100%;
  width: 768px;
  margin-top: 25px;
}

.about .title {
  font-size: 24px;
  text-align: center;
}
