.header_wrap {
  width: 100%;
  height: 64px;
  font-size: 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.header-container {
  width: 84.4%;
  height: 64px;
  margin: 0 auto;
  display: flex;
}
.header-logo {
  width: 100px;
  height: 64px;
  position: absolute;
  left: 9%;
  z-index: 9999;
}
.header-logo img {
  width: 100px;
  height: 36px;
  cursor: pointer;
  margin-top: 14px;
}
.header-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}
.textcolor:hover {
  color: #fc0365;
}
.header-nav span:hover {
  color: red;
}
.header-style span:hover {
  color: red;
}
.header-nav {
  width: 450px;
  margin-left: 40px;
}
.header-nav span {
  display: inline-block;
  line-height: 64px;
  padding: 0 15px;
}
.header-style {
  width: 270px;
  display: flex;
  align-items: center;
}
.header-style span svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header-nav .active {
  color: red;
}
.header-style > span {
  display: inline-block;
  margin-right: 24px;
  margin-top: 5.5px;
}
.header-style > .ant-space {
  margin-right: 30px;
  margin-top: 5px;
}
.header-style .ant-btn {
  width: 70px;
  margin-left: 10px;
}
.header-style .ant-btn span {
  text-align: center;
}
.icon-xianxingyueliang {
  font-size: 24px;
}
.sun,
.moon {
  width: 24px;
  height: 24px;
}

/* search */
.header-search {
  width: 768px;
  position: relative;
}
.section {
  width: 100%;
  height: 198px;
  overflow-y: scroll;
}

.section ul {
  width: 100%;
}
.section ul li {
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
}

.section ul li:hover {
  background: #f3f3f3;
  transition: 0.5s;
}
.ant-modal-title {
  font-weight: 800;
  font-size: 24px;
}
.empty {
  width: 100%;
  text-align: center;
  line-height: 60px;
}
.escBox {
  position: absolute;
  top: 35px;
  right: 18px;
}
.ant-input-wrapper input {
  height: 40px;
}
.ant-input-wrapper .ant-btn {
  width: 40px;
  height: 40px;
}

.login-btn {
  width: 65px;
  margin: 10px auto;
}
/* 右侧icon */
._1m0pVz8iNOboGDqVTeBfmy {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  z-index: 9999;
  top: 15px;
  right: 10px;
}
._2-i62DvrXpASKd_zBrhHUV {
  width: 25px;
  height: 4px;
  border-radius: 2px;
  margin: 5px 0;
  background-color: #ff0064;
  opacity: 1;
  transition: all 0.25s ease-in-out 0s;
}
.header_right_2 {
  text-align: center;
  left: 0;
  width: 100%;
  transition: all 0.25s ease-in-out 0s;
  position: absolute;
  z-index: 999;
  flex-direction: column;
}
.header_right_2>span,
.header_right_2 div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close div:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.close div:nth-child(2) {
  opacity: 0;
}
.close div:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.show {
  top: 64px;
}
.hide {
  top: -500px;
}
/* 媒体查询 */
@media screen and (min-width: 0px) {
  .header-right {
    display: none;
  }
  ._1m0pVz8iNOboGDqVTeBfmy {
    display: block;
  }
  .header_right_2 {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .header-right {
    display: none;
  }
  ._1m0pVz8iNOboGDqVTeBfmy {
    display: block;
  }
  .header_right_2 {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .header-right {
    display: flex;
    margin-left: 150px;
  }
  ._1m0pVz8iNOboGDqVTeBfmy {
    display: none;
  }
  .header_right_2 {
    display: none;
  }
}
