.BottomRead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.BottomRead .data {
  width: 48rem;
}
@media screen and (max-width: 820px) {
  .BottomRead .data {
    width: 100%;
    height: 100%;
  }
}

.BottomRead .BR_title {
  margin-top: 15px;
  margin-bottom: 15px;
}
