/* 更改 2022/6/1 16：05 */
#about {
  width: 100%;
}

#about .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .top img {
  width: 48rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 820px) {
  #about .top img {
    width: 100%;
  }
}

#about_title {
  width: 52%;
  text-align: center;
  font-size: 24px;
}

#about .top ul {
  width: 50%;
}

.about_ul li:nth-child(1) {
  font-size: 24px;
  margin-top: 35px;
}

.about_ul li:nth-last-child(1) {
  margin-bottom: 30px;
}

.about_ul li:nth-child(2) {
  list-style: disc;
}

.about_ul li:not(:nth-child(1)) {
  margin-bottom: 22px;
}

.about_ul li:nth-child(1)::after {
  clear: both;
  margin-top: 15px;
  margin-bottom: 25px;
  content: '\0020';
  display: block;
  width: 100%;
  height: 0;
}
