.footer {
  width: 300px;
  height: 150px;
  margin-top: 20px;
}
.footer ul {
  width: 70px;
  display: flex;
  justify-content: space-around;
  margin: 30px auto 10px;
}
.footer > div,
.footer a {
  font-size: 12px;
  text-align: center;
}
.footer a:hover {
  color: #515253;
}
