.bigbox {
  width: 75%;
  height: 745px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
@media screen and (max-width: 980px) {
  .ditbig,
  .kenleft,
  .bigbox,
  .detaleft {
    width: 95% !important;
  }
  .detaleft,

  .kenleft {
    margin: 0 auto;
  }
  .keowright,  .rdete {
    display: none;
  }
  .detaright {
    display: none;
  }
}
.rdete{
  width: 20%;
  margin-right: 6%;
}

.mgs {
  position: fixed;
  top: 83px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-position-x: 50%;
  background-position-y: 17%;
  -webkit-background-size: cover;
  background-size: cover;
  filter: blur(20px);
}
.us {
  width: 100%;
  margin-top: 20px;
}
.us li a:hover {
  background-color: #ccc;
}
.lis {
  background-color: #f0f0f0;
  color: #f00;
}

.us li {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}
.detribom {
  width: 100%;
}
.detaright h3,
.detaleft h3 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.bs button {
  width: 80px;
  background-color: red;
  border: none;
  color: #fff;
  height: 30px;
}
.bs {
  text-align: center;
  line-height: 35px;
}
.detlebomimg img {
  width: 100%;
  height: 100%;
}
.detlebomimg {
  width: 100%;
  height: 272px;
  padding: 16px 13px;
  box-sizing: border-box;
}
.detlebom {
  width: 100%;
}

.ditbig {
  position: relative;
  z-index: 8;
  width: 67%;
  height: 745px;
  margin: 0 auto;
}
.detimg {
  width: 100px !important;
  height: 80px !important;
}

.detbom {
  width: 100%;
  height: 655px;
  display: flex;
  justify-content: space-between;
}
.detaleft {
  width: 72%;
  height: 100%;
}
.detaright {
  width: 290px;
  height: 100%;
}
.detnav span {
  margin-right: 5px;
}
.detnav {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
}

.kenleft {
  width: 72%;
  height: 100%;
}

.keowright {
  width: 20%;
  height: 100%;
  position: sticky;
  top: 15px;
  margin-right: 60px;
}
