.comments {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
}
.comments_in {
  width: 48rem;
  display: flex;
  flex-direction: column;
}
.headImg{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #000;

}
#emojiBox{
  width: 32rem;
  height: 16.5rem;
  overflow-y: scroll;
  position: relative;
  left: 50px;
  top: -40px;
  background: #fff;
  transition: 0.5s;
  font-size: 25px;
}
#emojiBox li{
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
@media screen and (max-width: 820px) {
  .comments_in {
    width: 100%;
    height: 100%;
  }
}
.comments_in .title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* page */
.page_box {
  width: 48rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-pagination-item-active {
  border: 1px solid #f00;
}
.ant-pagination-item-active:hover {
  border: 1px solid #f00;
}
.ant-pagination-item-active a {
  color: #f00 !important;
}
.emojiFont:hover{
  color: #ff0064;
}
.emojiFont{
  width: 50px;
  cursor: pointer;
}
#comment_area {
  height: 100px;
}
.comments .comments_in .list {
  padding: 15px;
}

.comments .comments_in dl {
  height: auto;
  display: flex;
  padding: 16px;
}

.comments .comments_in dl dd {
  margin-right: 10px;
}

.comments .comments_in dl dd p {
  margin-bottom: 10px;
}
#comment_area {
  box-shadow: none;
}
.comments .comments_in dl img {
  width: 32px;
}

.comments .comments_in button {
  width: auto;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 15px;
  margin-bottom: -20px;
}

.comments .comments_in textarea {
  cursor: pointer;
}
.reply {
  margin-left: 10px;
  cursor: pointer;
}
.reply:hover {
  color: #ff0064;
}
